body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(#e66465, #9198e5);
    margin-left: 25px;
    margin-right: 25px;
    font-family: 'Courier New', Courier, monospace;
    
}

.leftSection, .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 25%;
}


.middleSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 25%;   
    align-items: center; 
}

.winnerText {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    
    margin-top: 50px;
    margin-bottom: 50px;
  
      
    
}

button {
    background-color: #F0EAD6;
    padding: 15px;
    border-radius: 12px; 
    margin: 25px;
    cursor: pointer;
    border-color: lightgoldenrodyellow;
    font-size: 16px;
    font-weight: bold;
}

.playerScore, .computerScore {
    font-size: 45px;
}

#deleteScore {
    display:flex;
    justify-content: center;
    width: 50%;   
}

.playerScore, .computerScore {
    justify-content: center;
    display:flex;
    margin-bottom: 25px;
}

