body {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    background: linear-gradient(0deg, rgba(1,177,165,1) 0%, rgba(133,224,110,1) 100%);
    margin-left: 25px;
    margin-right: 25px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

.leftSection, .rightSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15%;
    margin-bottom: 25%;

    
}


.middleSection {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15%;
    margin-bottom: 25%;   
    align-items: center; 
    flex-shrink: 0;
}

.winnerText {
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px; 
}

button {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 12px; 
    margin: 25px;
    cursor: pointer;
    border-color: rgb(0, 247, 255);
    font-size: 16px;
    font-weight: bold;
}

.playerScore, .computerScore {
    font-size: 45px;
    justify-content: center;
    display:flex;
}

#deleteScore {
    display:flex;
    justify-content: center;
    flex-shrink: 0;  
}



